@{
	Layout = "_Layout";
}

@using Bakery.ViewModels;

@model RegisterViewModel

<h3>Create a new account</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
	@Html.LabelFor(user => user.UserName)
	@Html.TextBoxFor(user => user.UserName)
	@Html.LabelFor(user => user.FullName)
	@Html.TextBoxFor(user => user.FullName)
  @Html.LabelFor(user => user.Email)
	@Html.TextBoxFor(user => user.Email)
	@Html.LabelFor(user => user.Password)
	@Html.TextBoxFor(user => user.Password)
	@Html.LabelFor(user => user.ConfirmPassword)
	@Html.TextBoxFor(user => user.ConfirmPassword)
	<input type="submit" value="Register Account" />
}