@{
	Layout = "_Layout";
}

@model Bakery.Models.Treat

<h3>Create a new treat</h3>

@using (Html.BeginForm())
{
	@Html.LabelFor(model => model.Name)
	@Html.TextBoxFor(model => model.Name)
	@Html.LabelFor(model => model.Ingredients)
	@Html.TextBoxFor(model => model.Ingredients)
	@Html.Label("Add a flavor Tag:")
	@Html.DropDownList("FlavorId")
	<input type="submit" value="Create"/>
}