@{
	Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h3>Editing details of @Model.Name</h3>

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.FlavorId)
	@Html.LabelFor(model => model.Name)
	@Html.EditorFor(model => model.Name)
	@Html.Label("Treats: ")
	@Html.DropDownList("TreatId")
	<input type="submit" value="Edit Entry"/>
}

<p>@Html.ActionLink("Return to Details", "Details", new {id=Model.FlavorId})</p>